:root {
    --color-primario: #0693e3;
    --color-secundario: #e6f2ff;
    --color-terciario: #006293;
    --color-alternativo: #c8e3ff;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--color-terciario);
    padding: 1vh 2vw;
    display: flow-root;
}

main {
   min-height: 80vh;
}

footer {
    background-color: var(--color-terciario);
    padding: 3vh 1vw;
    display: flow-root;
}

/* ------------- header ------------- */

header > a > img {
    filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.5));
    width: 8vw;
    float: left;
}

header > nav {
    float: left;
    margin-top: 4vh;
    margin-left: 3vw;
    width: 83vw;
}

header > nav > a {
    display: inline-block;
    margin: 0 1vw;
    color: var(--color-secundario);
    font-size: large;
    text-decoration: none;
    padding-bottom: 3vh;
}

header a:hover {
    transform: scale(1.05);
    transition: 0.06s;
    color: var(--color-alternativo);
}

/* ------------- footer ------------- */

footer > p {
    color: var(--color-secundario);
    font-size: large;
    text-align: center;
    float: left;
    width: 50%;
}

/* ---- media querie ---- */
@media (max-width:710px){
    header > nav{
        width:70vw;
    }
}

@media (max-width:846px){
    header > nav{
        width:70vw;
    }
}